@{
    ViewData["Title"] = "WebService";
}
<h1>@ViewData["Title"]</h1>

<a download="" class="btn btn-primary" href="/RetailStore.postman_collection.json">Retail Store Postman Collection</a>
<a download="" class="btn btn-primary" href="/Workstation.postman_collection.json">Workstation Postman Collection</a>
<a download="" class="btn btn-primary" href="/RetailStoreApp.rar">source code</a>